@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=League+Spartan:wght@100..900&family=Vazirmatn:wght@588&display=swap');
body {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Edu VIC WA NT Beginner", cursive;
    background-color: beige;
}

h1 {
    margin-bottom: 60px;
}

p {
    font-size: 20px;
}

.img02 {
    width: 200px;
    border-radius: 10px;
    margin-top: 25px;
}

.ddiv {
    display: flex;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.div2 {
    width: 358px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px dashed coral;
    margin: 10px;
    border-radius: 15px;
}

.clickbtn {
    margin-top: 40px;
    font-family: "Edu VIC WA NT Beginner", cursive;
    border: none;
    background-color: blueviolet;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 40px;
    box-shadow: 4px 4px 4px gray;
}

.clickbtn:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.clickbtn:active {
    opacity: 1;
    transition: 0.15s;
}